.col-five {
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 20%;
  max-width: 20%;
}

.col-md-five {
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 100%;
  max-width: 100%;
  @include mb-first-md {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
