.home {
  .search-area {
    display: flex;
    &-btn {
      background-color: $primary-color;
      color: #fff;
      padding: 3px 15px;
    }
  }

  .weather-info-area {
    padding-top: 20px;
    &-title {
      font-size: $font-xl;
      font-weight: weight(bold);
    }
  }
}
